*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Media Query Area Start */

@media screen and (max-width: 1024px) /*Laptop Small View*/ 
{
    /*Navigation Start*/
    h1.navigation-font
    {
        font-size: 1.5rem;
    }
    li#menu-hid
    {
        font-size: 1.2rem;
    }
    h1.header-info-font-1
    {
        font-size: 2.2rem;
    }
    p.header-info-font-2
    {
        font-size: 1.9rem;
        width: 50%;
    }
    button#header-btn-1
    {
        font-size: 1.7rem;
    }
    button#header-btn-2
    {
        font-size: 1.7rem;
    }
    h1.each-title-font
    {
        font-size: 2.7rem;
    }
    div.line-break
    {
        width: 400px;
    }
    /*Navigation END*/
    /*Us Start*/
    div.us-container
    {
        padding-top: 5rem;
    }
    img#us-image
    {
        width: 7rem;
        height: 7rem;
    }
    h1.us-title-font
    {
        font-size: 1.9rem;
    }
    p.us-info-font
    {
        font-size: 1.5rem;
        width: 70%;
    }
    p.us-info-font-1
    {
        font-size: 1.5rem;
        width: 95%;
    }
    p.us-info-font-2
    {
        font-size: 1.5rem;
        width: 70%;
    }
    /*Us END*/
    /*Destination Start*/
    h1.contentBox-title
    {
        font-size: 2rem;
    }
    span#hide-font
    {
        font-size: 1.3rem;
    }
    span#hide-loc
    {
        font-size: 1.3rem;
    }
    i#hide-loc
    {
        font-size: 1rem;
    }
    div.contentBox-info-area
    {
        width: 35%;
    }
    p.contentBox-info-font
    {
        font-size: 1rem;
        width: 90%;
    }
    button#contentBox-btn
    {
        font-size: 1.3rem;
    }

    /*Destination END*/
    /*Holiday Start*/
    div.holiday-content
    {
        justify-content: space-evenly;
        gap: 1.5rem;
    }
    div.holiday-contentBox-1
    {
        width: 18rem;
        height: 13rem;
        padding-top: 1.5rem;
    }
    div.holiday-contentBox-2
    {
        width: 18rem;
        height: 13rem;
        padding-top: 1.5rem;
    }
    div.holiday-contentBox-3
    {
        width: 18rem;
        height: 13rem;
        padding-top: 1.5rem;
    }
    i#play-icon
    {
        font-size: 2rem;
    }
    div.holiday-icon-move
    {
        padding-left: 8rem;
    }
    p.holiday-content-font
    {
        font-size: 1.3rem;
        text-align: justify;
        width: 50%;
    }
    button#holiday-contentBtn-1
    {
        font-size: 1.5rem;
    }
    button#holiday-contentBtn-2
    {
        font-size: 1.5rem;
    }
    /*Holiday END*/
    /*About us Start*/
    div.aboutUs-content
    {
        justify-content: space-evenly;
        gap: 1.5rem;
    }
    div.aboutUs-box
    {
        width: 19rem;
        height: 16rem;
        gap: 1.5rem;
    }
    p.aboutUs-info-font
    {
        width: 90%;
    }
    img#star-rate
    {
        width: 10rem;
        height: 1.7rem;
    }
    div.aboutUs-info-area
    {
        padding-left: 1rem;
        gap: 1rem;
    }
    /*About us END*/
}
@media screen and (max-width: 768px) /*Tablet View*/ 
{   
    /*Navigation Start*/
    li#menu-hid
    {
        display: none;
    }
    h1.navigation-font
    {
        display: none;
    }
    i#hid-icon
    {
        opacity: 1;
        color: white;
        font-size: 2rem;
    }
    h1.header-info-font-1
    {
        font-size: 2rem;
        width: 50%;
    }
    p.header-info-font-2
    {
        font-size: 1.7rem;
        width: 60%;
    }
    button#header-btn-1
    {
        font-size: 1.5rem;
    }
    button#header-btn-2
    {
        font-size: 1.5rem;
    }
    h1.each-title-font
    {
        font-size: 2.5rem;
        text-align: center;
    }
    div.line-break
    {
        width: 350px;
    }

    /*Navigation END*/
    /*Us Start*/
    img#us-image
    {
        width: 6rem;
        height: 6rem;
    }
    div.us-content
    {
        gap: 1.8rem;
    }
    div.us-box-1
    {
        width: 100%;
    }
    div.us-box-2
    {
        width: 100%;
    }
    div.us-box-3
    {
        width: 100%;
    }
    h1.us-title-font
    {
        font-size: 1.6rem;
    }
    p.us-info-font
    {
        font-size: 1.3rem;
        width: 30%;
    }
    p.us-info-font-1
    {
        font-size: 1.3rem;
        width: 35%;
    }
    p.us-info-font-2
    {
        font-size: 1.3rem;
        width: 60%;
    }

    /*Us END*/
    /*Destination Start*/
    img#place-image
    {
        width: 25rem;
        height: 20rem;
    }
    div.contentBox-info-area
    {
        width: 100%;
        padding-left: 10.5rem;
    }
    h1.contentBox-title
    {
        font-size: 2rem;
    }
    span#hide-font
    {
        font-size: 1.5rem;
    }
    p.contentBox-info-font
    {
        font-size: 1.3rem;
        width: 60%;
    }
    button#contentBox-btn
    {
        font-size: 1.5rem;
    }
    span#hide-loc
    {
        display: none;
    }
    i#hide-loc
    {
        display: none;
    }

    /*Destination END*/
    /*Holiday Start*/
    div.holiday-content
    {
        justify-content: space-evenly;
        flex-direction: column;
        gap: 3rem;
    }
    div.holiday-contentBox-1
    {
        width: 22rem;
        height: 14rem;
        padding-top: 1rem;
        gap: 1rem;
    }
    div.holiday-contentBox-2
    {
        width: 22rem;
        height: 14rem;
        padding-top: 1rem;
        gap: 1rem;
    }
    div.holiday-contentBox-3
    {
        width: 22rem;
        height: 14rem;
        padding-top: 1rem;
        gap: 1rem;
    }
    i#play-icon
    {
        font-size: 2.3rem;
    }
    div.content-info
    {
        font-size: 1.4rem;
    }
    div.holiday-icon-move
    {
        padding-left: 9.5rem;
    }
    p.holiday-content-font
    {
        font-size: 1.5rem;
        text-align: justify;
        width: 60%;
    }
    p.holiday-title-1
    {
        font-size: 1.3rem;
    }
    button#holiday-contentBtn-1
    {
        font-size: 1.4rem;
    }
    button#holiday-contentBtn-2
    {
        font-size: 1.4rem;
    }
    /*Holiday END*/

    /*About Us Start*/
    div.aboutUs-content
    {
        justify-content: space-evenly;
        flex-direction: column;
    }
    div.aboutUs-box
    {
        width: 17rem;
        height: 13rem;
        gap: 1rem;
    }
    h1.profile-font
    {
        font-size: 1.2rem;
    }
    p.profile-font
    {
        font-size: 1rem;
    }
    img#profile-image
    {
        width: 3rem;
        height: 3rem;
    }
    p.aboutUs-info-font
    {
        width: 85%;
    }
    img#star-rate
    {
        width: 7rem;
        height: 1rem;
    }
    div.aboutUs-info-area
    {
        padding-left: 1rem;
        gap: 1rem;
    }

    /*About Us END*/
    /*Footer Start*/
    div.footer-image-box
    {
        justify-content: flex-start;
    }
    div.footer-content
    {
        grid-template-columns: repeat(2, 50%);
        column-gap: 1rem;
    }
    div.footer-box-1
    {
        order: 1;   
        padding-left: 2.5rem;
    }
    div.footer-box
    {  
        padding-left: 3rem;
    }
    div.footer-info-1
    {
        gap: 0.7rem;
    }
    i#foot-icon
    {
        display: none;
    }
    i#head-icon
    {
        opacity: 1;
        color: white;
        padding: 0.5rem;
        background-color: #4CA1F2;
    }
    /*Footer END*/
}

@media screen and (max-width: 425px) /*Large Mobile View*/ 
{   
    /*Navigation Start*/
    li#menu-hid
    {
        display: none;
    }
    h1.navigation-font
    {
        display: none;
    }
    i#hid-icon
    {
        opacity: 1;
        color: white;
        font-size: 2rem;
    }
    h1.header-info-font-1
    {
        font-size: 1.9rem;
        width: 70%;
    }
    p.header-info-font-2
    {
        font-size: 1.4rem;
        width: 75%;
    }
    button#header-btn-1
    {
        font-size: 1.4rem;
    }
    button#header-btn-2
    {
        font-size: 1.4rem;
    }
    h1.each-title-font
    {
        font-size: 2.4rem;
        text-align: center;
    }
    div.line-break
    {
        width: 220px;
    }

    /*Navigation END*/
    /*Us Start*/
    img#us-image
    {
        width: 6rem;
        height: 6rem;
    }
    div.us-content
    {
        gap: 1.8rem;
    }
    div.us-box-1
    {
        width: 100%;
    }
    div.us-box-2
    {
        width: 100%;
    }
    div.us-box-3
    {
        width: 100%;
    }
    h1.us-title-font
    {
        font-size: 1.6rem;
    }
    p.us-info-font
    {
        font-size: 1.3rem;
        width: 45%;
    }
    p.us-info-font-1
    {
        font-size: 1.3rem;
        width: 60%;
    }
    p.us-info-font-2
    {
        font-size: 1.3rem;
        width: 60%;
    }

    /*Us END*/
    /*Destination Start*/
    img#place-image
    {
        width: 21rem;
        height: 14rem;
    }
    div.contentBox-info-area
    {
        width: 100%;
        padding-left: 2rem;
    }
    h1.contentBox-title
    {
        font-size: 1.8rem;
    }
    span#hide-font
    {
        font-size: 1.3rem;
    }
    p.contentBox-info-font
    {
        font-size: 1.1rem;
        width: 75%;
    }
    button#contentBox-btn
    {
        font-size: 1.3rem;
    }
    span#hide-loc
    {
        display: none;
    }
    i#hide-loc
    {
        display: none;
    }

    /*Destination END*/
    /*Holiday Start*/
    div.holiday-contentBox-1
    {
        width: 18rem;
        height: 11rem;
        padding-top: 1rem;
    }
    div.holiday-contentBox-2
    {
        width: 18rem;
        height: 11rem;
        padding-top: 1rem;
    }
    div.holiday-contentBox-3
    {
        width: 18rem;
        height: 11rem;
        padding-top: 1rem;
    }
    i#play-icon
    {
        font-size: 1.7rem;
    }
    div.content-info
    {
        font-size: 1.4rem;
    }
    div.holiday-icon-move
    {
        padding-left: 8rem;
    }
    p.holiday-content-font
    {
        font-size: 1.4rem;
        text-align: justify;
        width: 67%;
    }
    p.holiday-title-1
    {
        font-size: 1.2rem;
    }
    button#holiday-contentBtn-1
    {
        font-size: 1.2rem;
    }
    button#holiday-contentBtn-2
    {
        font-size: 1.2rem;
    }
    /*Holiday END*/

    /*About Us Start*/
    div.aboutUs-box
    {
        width: 17rem;
        height: 13rem;
        gap: 1rem;
    }
    h1.profile-font
    {
        font-size: 1rem;
    }
    p.profile-font
    {
        font-size: 0.9rem;
    }
    img#profile-image
    {
        width: 3rem;
        height: 3rem;
    }
    p.aboutUs-info-font
    {
        width: 85%;
    }
    img#star-rate
    {
        width: 7rem;
        height: 1rem;
    }
    div.aboutUs-info-area
    {
        padding-left: 1rem;
        gap: 1rem;
    }

    /*About Us END*/
    /*Footer Start*/
    div.footer-content
    {
        grid-template-columns: repeat(2, 50%);
        column-gap: 1rem;
    }
    div.footer-box-1
    {
        order: 1;
        padding-left: 0.1rem;
    }
    div.footer-box
    {
        padding-left: 0.5rem;
    }
    div.footer-info-1
    {
        gap: 0.7rem;
    }
    i#foot-icon
    {
        display: none;
    }
    i#head-icon
    {
        opacity: 1;
        color: white;
        padding: 0.5rem;
        background-color: #4CA1F2;
    }
    /*Footer END*/
}

@media screen and (max-width: 375px) /*Medium Mobile View*/ 
{   
    /*Navigation Start*/
    li#menu-hid
    {
        display: none;
    }
    h1.navigation-font
    {
        display: none;
    }
    i#hid-icon
    {
        opacity: 1;
        color: white;
        font-size: 2rem;
    }
    h1.header-info-font-1
    {
        font-size: 1.7rem;
        width: 70%;
    }
    p.header-info-font-2
    {
        font-size: 1.2rem;
        width: 70%;
    }
    button#header-btn-1
    {
        font-size: 1.2rem;
    }
    button#header-btn-2
    {
        font-size: 1.2rem;
    }
    h1.each-title-font
    {
        font-size: 2.2rem;
        text-align: center;
    }
    div.line-break
    {
        width: 190px;
    }

    /*Navigation END*/
    /*Us Start*/
    img#us-image
    {
        width: 6rem;
        height: 6rem;
    }
    div.us-content
    {
        gap: 1.7rem;
    }
    div.us-box-1
    {
        width: 100%;
    }
    div.us-box-2
    {
        width: 100%;
    }
    div.us-box-3
    {
        width: 100%;
    }
    h1.us-title-font
    {
        font-size: 1.4rem;
    }
    p.us-info-font
    {
        font-size: 1.2rem;
        width: 45%;
    }
    p.us-info-font-1
    {
        font-size: 1.2rem;
        width: 60%;
    }
    p.us-info-font-2
    {
        font-size: 1.2rem;
        width: 60%;
    }

    /*Us END*/
    /*Destination Start*/
    img#place-image
    {
        width: 18rem;
        height: 11rem;
    }
    div.contentBox-info-area
    {
        width: 100%;
        padding-left: 1.5rem;
    }
    h1.contentBox-title
    {
        font-size: 1.7rem;
    }
    span#hide-font
    {
        font-size: 1.2rem;
    }
    p.contentBox-info-font
    {
        font-size: 1rem;
    }
    button#contentBox-btn
    {
        font-size: 1.2rem;
    }
    span#hide-loc
    {
        display: none;
    }
    i#hide-loc
    {
        display: none;
    }

    /*Destination END*/
    /*Holiday Start*/
    div.holiday-contentBox-1
    {
        width: 16rem;
        height: 10rem;
        padding-top: 1rem;
    }
    div.holiday-contentBox-2
    {
        width: 16rem;
        height: 10rem;
        padding-top: 1rem;
    }
    div.holiday-contentBox-3
    {
        width: 16rem;
        height: 10rem;
        padding-top: 1rem;
    }
    i#play-icon
    {
        font-size: 1.7rem;
    }
    div.content-info
    {
        font-size: 1.4rem;
    }
    div.holiday-icon-move
    {
        padding-left: 7.5rem;
    }
    p.holiday-content-font
    {
        font-size: 1.3rem;
        text-align: justify;
        width: 67%;
    }
    button#holiday-contentBtn-1
    {
        font-size: 1.2rem;
    }
    button#holiday-contentBtn-2
    {
        font-size: 1.2rem;
    }
    /*Holiday END*/

    /*About Us Start*/
    div.aboutUs-box
    {
        width: 17rem;
        height: 13rem;
        gap: 1rem;
    }
    h1.profile-font
    {
        font-size: 1rem;
    }
    p.profile-font
    {
        font-size: 0.9rem;
    }
    img#profile-image
    {
        width: 3rem;
        height: 3rem;
    }
    p.aboutUs-info-font
    {
        width: 80%;
    }
    img#star-rate
    {
        width: 7rem;
        height: 1rem;
    }
    div.aboutUs-info-area
    {
        padding-left: 1rem;
        gap: 1rem;
    }

    /*About Us END*/
    /*Footer Start*/
    div.footer-content
    {
        grid-template-columns: repeat(2, 50%);
        column-gap: 0.5rem;
    }
    div.footer-box-1
    {
        order: 1;
        padding-left: 0.1rem;
    }
    div.footer-box
    {
        padding-left: 0.5rem;
    }
    div.footer-info-1
    {
        gap: 0.7rem;
    }
    i#foot-icon
    {
        display: none;
    }
    i#head-icon
    {
        opacity: 1;
        color: white;
        padding: 0.5rem;
        background-color: #4CA1F2;
    }
    /*Footer END*/
}

@media screen and (max-width: 320px) /*Small Mobile View*/ 
{   
    /*Navigation Start*/
    li#menu-hid
    {
        display: none;
    }
    h1.navigation-font
    {
        display: none;
    }
    i#hid-icon
    {
        opacity: 1;
        color: white;
        font-size: 2rem;
    }
    h1.header-info-font-1
    {
        font-size: 1.5rem;
        width: 70%;
    }
    p.header-info-font-2
    {
        font-size: 1rem;
        width: 70%;
    }
    button#header-btn-1
    {
        font-size: 1rem;
    }
    button#header-btn-2
    {
        font-size: 1rem;
    }
    h1.each-title-font
    {
        font-size: 2rem;
        text-align: center;
    }
    div.line-break
    {
        width: 190px;
    }

    /*Navigation END*/
    /*Us Start*/
    img#us-image
    {
        width: 6rem;
        height: 6rem;
    }
    div.us-content
    {
        gap: 1.5rem;
    }
    div.us-box-1
    {
        width: 100%;
    }
    div.us-box-2
    {
        width: 100%;
    }
    div.us-box-3
    {
        width: 100%;
    }
    h1.us-title-font
    {
        font-size: 1.2rem;
    }
    p.us-info-font
    {
        font-size: 1rem;
        width: 45%;
    }
    p.us-info-font-1
    {
        font-size: 1rem;
        width: 60%;
    }
    p.us-info-font-2
    {
        font-size: 1rem;
        width: 60%;
    }

    /*Us END*/
    /*Destination Start*/
    img#place-image
    {
        width: 15rem;
        height: 10rem;
    }
    div.contentBox-info-area
    {
        width: 100%;
        padding-left: 1.5rem;
    }
    h1.contentBox-title
    {
        font-size: 1.5rem;
    }
    span#hide-font
    {
        font-size: 1rem;
    }
    p.contentBox-info-font
    {
        font-size: 0.9rem;
    }
    button#contentBox-btn
    {
        font-size: 1rem;
    }
    span#hide-loc
    {
        display: none;
    }
    i#hide-loc
    {
        display: none;
    }

    /*Destination END*/
    /*Holiday Start*/
    div.holiday-contentBox-1
    {
        width: 15rem;
        height: 10rem;
        padding-top: 1rem;
    }
    div.holiday-contentBox-2
    {
        width: 15rem;
        height: 10rem;
        padding-top: 1rem;
    }
    div.holiday-contentBox-3
    {
        width: 15rem;
        height: 10rem;
        padding-top: 1rem;
    }
    i#play-icon
    {
        font-size: 1.6rem;
    }
    div.content-info
    {
        font-size: 1.2rem;
    }
    div.holiday-icon-move
    {
        padding-left: 7rem;
    }
    p.holiday-content-font
    {
        font-size: 1.2rem;
        text-align: justify;
        width: 70%;
    }
    button#holiday-contentBtn-1
    {
        font-size: 1rem;
    }
    button#holiday-contentBtn-2
    {
        font-size: 1rem;
    }
    /*Holiday END*/

    /*About Us Start*/
    div.aboutUs-box
    {
        width: 17rem;
        height: 13rem;
        gap: 1rem;
    }
    h1.profile-font
    {
        font-size: 1rem;
    }
    p.profile-font
    {
        font-size: 0.9rem;
    }
    img#profile-image
    {
        width: 3rem;
        height: 3rem;
    }
    p.aboutUs-info-font
    {
        width: 80%;
    }
    img#star-rate
    {
        width: 7rem;
        height: 1rem;
    }
    div.aboutUs-info-area
    {
        padding-left: 1rem;
        gap: 1rem;
    }

    /*About Us END*/
    /*Footer Start*/
    div.footer-content
    {
        grid-template-columns: repeat(2, 50%);
        column-gap: 0.5rem;
    }
    div.footer-box-1
    {
        order: 1;
        padding-left: 0.1rem;
    }
    div.footer-box
    {
        padding-left: 0.5rem;
    }
    div.footer-info-1
    {
        gap: 0.7rem;
    }
    i#foot-icon
    {
        display: none;
    }
    i#head-icon
    {
        opacity: 1;
        color: white;
        padding: 0.5rem;
        background-color: #4CA1F2;
    }
    p.footer-footer-info
    {
        font-size: 1rem;
    }
    /*Footer END*/
}

/* Navigation Area Start */
.header-container
{
    background-image: url('./img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3rem;
    width: 100%;
    color: white;
}
.header-content
{
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    align-items: center;
    padding-top: 3rem;
}
ul
{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}
li
{
    list-style: none;
    cursor: pointer;
}
#hid-icon
{
    opacity: 0.1;
    cursor: pointer;
}
.header-image-area
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#header-logo
{
    width: 3rem;
    height: 3rem;
}
.header-content-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 2rem;
    gap: 1.5rem;
}
.header-info-font-1
{
    font-size: 3.5rem;
    width: 40%;
    text-align: center;
}
.header-info-font-2
{
    font-size: 1.7rem;
    width: 40%;
    text-align: center;
}
.header-button-area
{
    padding-top: 2.5rem;
    display: flex;
    gap: 2.5rem;
}
#header-btn-1
{
    padding: 0.9rem 0.9rem;
    font-size: 1.5rem;
    border: 1px solid #4CA1F2;
    background-color: #4CA1F2;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}
#header-btn-2
{
    padding: 0.9rem 0.9rem;
    font-size: 1.5rem;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

/* Navigation Area END */
/* Why Us Area Start */

section
{
    background-color: #141E30;
}
footer
{
    background-color: #141E30;
}
.each-title-font
{
    font-size: 5rem;
    font-weight: bolder;
}
.us-container
{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-bottom: 5rem;
    gap: 9rem;
}
.us-content
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.us-box-1
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}
.us-box-2
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}
.us-box-3
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}
.us-title-font
{
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.us-info-font
{
    font-size: 1.5rem;
    width: 65%;
    text-align: center;
}
.us-info-font-1
{
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
}
#us-image
{
    width: 8rem;
    height: 8rem;
}
.line-break
{
    border: 1.5px solid #797979;
    width: 800px;
}

/* Why Us Area END */
/* Top Destination Area Start */

.destination-container
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.destination-content
{
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contentBox-image-area
{
    border: 1px solid #4CA1F2;
    padding: 1rem;
    border-radius: 20px;
}
.contentBox-info-area
{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}
.contentBox-title
{
    font-size: 2.5rem;
    line-height: 70px;
}
i
{
    font-size: 1.3rem;
}
.contentBox-info-location
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
span
{
    font-size: 1.5rem;
    font-weight: 400;
}
.contentBox-info-font
{
    font-size: 1.2rem;
    width: 85%;
    line-height: 25px;
}
.destination-contentBox
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.destination-contentBox:nth-child(2)
{
    flex-direction: row-reverse;
}
#place-image
{
    width: 25rem;
    height: 20rem;
}
.contentBox-button
{
    padding-top: 3rem;
}
#contentBox-btn
{
    padding: 0.9rem 0.9rem;
    font-size: 1.5rem;
    border-radius: 50px;
    background-color: #4CA1F2;
    border: 1px solid #4CA1F2;
    color: white;
    cursor: pointer;
}

/* Top Destination Area END */
/* Holiday Area Start */

.holiday-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 5rem;
    color: white;
}
.holiday-content
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4rem;
}
.holiday-contentBox-1
{
    background-image: url('./img/holiday-1.jpg');
    background-position: center;
    background-size: cover;
    width: 20rem;
    height: 15rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 4rem;
    gap: 1.5rem;
}
.holiday-contentBox-2
{
    background-image: url('./img/holiday-2.jpg');
    background-position: center;
    background-size: cover;
    width: 20rem;
    height: 15rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 4rem;
    gap: 1.5rem;
}
.holiday-contentBox-3
{
    background-image: url('./img/holiday-3.jpg');
    background-position: center;
    background-size: cover;
    width: 20rem;
    height: 15rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 4rem;
    gap: 1.5rem;
}
#play-icon
{
    font-size: 3rem;
}
.holiday-icon-move
{
    font-size: 4rem;
    padding-left: 8.5rem;
    cursor: pointer;
}
.holiday-content-info
{
    padding-left: 1.5rem;
}
.holiday-content-font-area
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.holiday-content-font
{
    width: 60%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 30px;
}
.holiday-content-btn
{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 3rem;
}
#holiday-contentBtn-1
{
    padding: 0.9rem 0.9rem;
    font-size: 1.7rem;
    border-radius: 50px;
    color: white;
    background-color: #4CA1F2;
    border: 1px solid #4CA1F2;
    cursor: pointer;
}
#holiday-contentBtn-2
{
    padding: 0.9rem 0.9rem;
    font-size: 1.7rem;
    border-radius: 50px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}

/* Holiday Area END */
/* About Us Area Start */

.aboutUs-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 6rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.aboutUs-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    gap: 3rem;
    flex-wrap: wrap;
}
.aboutUs-box
{
    background-color: #4CA1F2;
    width: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15rem;
    border-radius: 20px;
    gap: 2rem;
}
.aboutUs-image-area
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
#profile-image
{
    width: 5rem;
    height: 5rem;
}
.profile-title
{
    font-size: 1.5rem;
    line-height: 40px;
}
.profile-font
{
    font-size: 1rem;
}
.aboutUs-info-area
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 3rem;
}
.aboutUs-info-font
{
    font-size: 1rem;
    width: 70%;
}
#star-rate
{
    width: 10rem;
    height: 2rem;
}

/* About Us Area END */
/* Footer Area Start */

.footer-container
{
    padding-bottom: 3rem;
    width: 100%;
    padding-top: 2rem;
    color: white;
}
.footer-content
{
    padding: 0.9rem 1.2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.2rem;
    row-gap: 1rem;
}
.footer-box
{
    color: white;
    padding-top: 1rem;
}
.footer-box-1
{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.footer-image-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.9rem;
}
#footer-logo
{
    height: 2rem;
    width: 2rem;
}
.footer-title
{
    font-size: 1.3rem;
}
.footer-title-info
{
    font-size: 1.4rem;
}
.footer-info-1
{
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}
.footer-info
{
    display: flex;
    padding-top: 2.5rem;
    line-height: 30px;
    justify-content: center;
    flex-direction: column;
}
li
{
    font-size: 1rem;
    list-style: none;
}
#head-icon
{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 100px;
    color: black;
    text-align: center;
    opacity: 0.1;
}
#foot-icon
{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 100px;
    background-color: #4CA1F2;
    text-align: center;
}
.footer-footer-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    color: white;
}
.footer-footer-info
{
    font-size: 1.3rem;
}